@font-face {
  font-family: 'Lemon Milk';
  src: url('../fonts/LemonMilk.otf');
}

@font-face {
  font-family: 'Lemon Milk Bold';
  src: url('../fonts/LemonMilkbold.otf');
}

.hidden{
  display: none;
}

body{
  position: relative;
  overflow-x: hidden;
}

/* -------START------- */

#startTitle{
  font-family: "Lemon Milk Bold";
  color: #505050;
  font-size: 40px;
  text-align: right;
}

#startSub{
  font-family: "Lemon Milk Bold";
  color: #5e0000;
  font-size: 25px;
  text-align: right;
}

#startButton{
  font-family: "Lemon Milk Bold";
  color: white;
  background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 22%,#5e0000 63%);
  padding: 10px 40px 10px 40px;
  border: #000 solid 1px;
  margin: 0 0 0 64%;

}

#startButton:hover{
  background: -webkit-linear-gradient(top, #bf0335 0%,#a30320 22%,#820000 63%);
  cursor: pointer;
}

#vertCenter{
  margin: 22% 10% 0 60%;
  z-index: 99;
  position: absolute;
}

#diagonalBar{
  position: absolute;
  height: 100vh;
  z-index: 1;
}

#logo{
  height: 100vh;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: 50% 50%;
}

/* ------HOME SELECTION------ */

#selectionMenu{
  position: relative;
}

#webDesign{
  background: url("../images/webExample1White.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: absolute;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#webDesign:hover{
  cursor: pointer;
  background: url("../images/webExample1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#graphicDesign:hover{
  cursor: pointer;
  background: url("../images/graphExample1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#graphicDesign{
  background: url("../images/graphExample1White.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 41%;
  z-index: 99;
  margin-left: -10%;
  transform: skew(-10deg);
  position: absolute;
  border-right: 15px solid #590100;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#photography:hover{
  cursor: pointer;
  background: url("../images/photoExample1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#photography{
  background: url("../images/photoExample1White.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 41%;
  z-index: 101;
  margin-left: 70%;
  transform: skew(-10deg);
  position: absolute;
  border-left: 15px solid #590100;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#contactButton{
  z-index: 200;
  width: 100%;
  height: 55px;
  background-color: #590100;
  position:fixed;
  left:0px;
  bottom:0px;
}

#contactButton:hover{
  cursor: pointer;
  background-color: #890000;
}

#contactButt{
  font-family: "Lemon Milk Bold";
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 6px;
}

#graphMobileDesign{
  background: url("../images/graphExample1White.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 33.33vh;
  width: 100%;
  z-index: 101;
  border-bottom: 15px solid #590100;
}

#webMobileDesign{
  background: url("../images/webExample1White.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 33.33vh;
  width: 100%;
  z-index: 101;
  border-bottom: 15px solid #590100;
}

#photoMobileDesign{
  background: url("../images/photoExample1White.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 33.33vh;
  width: 100%;
  z-index: 101;
}

/* ------GALLERY SECTIONS------ */

#coloredBar{
  z-index: 200;
  width: 100%;
  height: 35px;
  background-color: #590100;
  position: absolute;
  top: 0;
}

#dotMenu{
  padding-top: 55px;
  padding-left: 25px;
  padding-bottom: 10px;
  float: left;
  width: 4%;
}

#title{
  padding-top: 55px;
  padding-left: 25px;
  font-family: "Lemon Milk";
  float: left;
  color: #505050;
}

#goBack{
  clear: both;
  margin-top: 0;
  font-size: 15px;
  font-family: arial;
  margin-left: 1.6%;
}

/* ------CONTACT------ */

textarea {
  resize: none;
  border: 2px solid #590100;
  height: 175px;
  width: 230px;
}

.buttonContact{
  margin-left: 76%;
}

.socialIcon{
  width: 50px;
  float: left;
  margin-right: 15px;
}

#contactPara{
  padding: 6% 0 0 0;
  margin: 0 0 0 26%;
}

#socialPara a{
  font-family: arial;
  font-size: 18px;
  text-decoration: none;
  padding: 0 0 25px 0;
}

#socialPara a:hover{
  font-family: arial;
  font-size: 18px;
  color: #505050;
  text-decoration: none;
}

#headshot{
  width: 20%;
  float: left;
  border: 5px solid #590100;
  margin: 0 0 50px 50px;
}

#social{
  clear: both;
  margin: 0 0 0 50px;
}

#form{
  float: right;
  margin: -30% 0 0 0;
  padding-right: 12%;
}

.textForm{
  margin-bottom: 20px;
  border: 2px solid #590100;
  width: 230px;
  height: 36px;
  margin-left: 28px;
}
.formLabel{
  font-family: arial;
  font-size: 18px;
  color: #505050;
}

/* ------MEDIA QUERIES------ */

@media only screen and (max-width : 910px) {
  #diagonalBar{
    display: none;
  }
}

@media only screen and (min-width : 600px) and (max-width : 1024px) {
  #diagonalBar{
    display: none;
  }

  #startTitle{
    font-size: 135%;
    color: white;
  }

  #startSub{
    font-size: 95%;
    color: white;
  }

  #vertCenter{
    margin-left: 39%;
    margin-top: 31%;
  }

  #startButton{
    margin-left: 19%;
  }

  #graphMobileDesign{
    display: none;
  }

  #webMobileDesign{
    display: none;
  }

  #photoMobileDesign{
    display: none;
  }

  #dotMenu{
    padding-bottom: 0px;
    width: 10%;
  }

  #title{
    padding-top: 10%;
    padding-left: 10%;
  }

  #goBack{
    margin-top: 0px;
    font-size: 11px;
    margin-left: 5.8%;
  }

  #bodyBG{
  background: url("../images/mobileBackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}

@media only screen and (min-width : 1025px) and (max-width : 1242px) {
  #startTitle{
    font-size: 235%;
  }

  #startSub{
    font-size: 150%;
  }

  #vertCenter{
    margin-left: 50%;
    margin-top: 30%;
  }

  #startButton{
    margin-left: 61%;
  }

  #graphMobileDesign{
    display: none;
  }

  #webMobileDesign{
    display: none;
  }

  #photoMobileDesign{
    display: none;
  }
}

@media only screen and (min-width : 320px) and (max-width : 599px) {
  #startTitle{
    font-size: 109%;
    color: white;
  }

  #startSub{
    font-size: 84%;
    color: white;
  }

  #vertCenter{
    margin-left: 34%;
    margin-top: 46%;
  }

  #startButton{
    margin-left: 8%;
  }

  #webDesign{
    display: none;
  }

  #graphicDesign{
    display: none;
  }

  #photography{
    display: none;
  }

  #graphMobileDesign{
    display: block;
  }

  #webMobileDesign{
    display: block;
  }

  #photoMobileDesign{
    display: block;
  }

  #dotMenu{
    padding-bottom: 0px;
    width: 10%;
  }

  #title{
    padding-top: 10%;
    padding-left: 10%;
  }

  #goBack{
    margin-top: 0px;
    font-size: 11px;
    margin-left: 5.8%;
  }

  #contactPara{
    font-size: 8px;
  }

  #socialPara a{
    font-size: 8px;
    margin-top: 15px;
  }

  .socialIcon{
    clear: both;
  }

  #socialPara a:hover{
    font-size: 8px;
  }


  .textForm{
    width: 66%;
    height: 10%;
  }

  textarea{
    height: 30%;
    width: 67%;
  }

  #form{
    margin-top: 15%;
    padding-right: 6%;
  }

  #bodyBG{
  background: url("../images/mobileBackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}
